  input {
    border: solid 1px #e8e8e8;
    height: 3rem;
    background-color: #2d4573;
    color: #fff;
    padding: 0.5em 0.5em;
    width: calc(100%);
}

input::placeholder {
    color: #fff;
}
  
.coins-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
}

.coin {
  width: calc(50%);
  height: 8em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: right;
  padding: 1em;
  color: #fff;
  text-decoration: none;
  box-shadow: none;
}

.coin h2 {
    text-align: left;
    padding-left: 90px;
}

.coin:nth-child(4n + 0),
.coin:nth-child(4n + 1) {
  background-color: #4369b2;
}

.coin:nth-child(4n + 2),
.coin:nth-child(4n + 3) {
  background-color: #3f63a5;
}

.coins-img {
    width: 70px;
    height: 70px;
    float: left;
}

.coin-price {
  font-size: medium;
}

.details-btn {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #334e8e;
    color: #334e8e;
}


