* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex {
  display: flex;
}

nav {
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

nav ul {
  list-style: none;
  gap: 2rem;
  align-items: center;
}

nav li {
  color: #fff;

}
.link {
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  font-size: larger;
}

.logo {
  width: 15em;
  filter: invert(2);
}

