* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  background: url(./img/banner.jpg) 0 0 no-repeat;
  background-size: cover;
  padding: 2em;
  display: flex;
  gap: 1em;
  justify-content: space-between;
  align-items: center;
}

.flex {
  display: flex;
}

nav ul {
  list-style: none;
  gap: 2rem;
  align-items: center;
}

nav li {
  color: #fff;
}

.link {
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  font-size: larger;
}

.logo {
  width: 15em;
  filter: invert(2);
}
